.contactHeader{
    background-size: 100%;

}
.contactBackground{
    position: relative;
    /* Ensure the parent container is positioned */
    padding: 40px;
    /* Add padding to space out content from the background */
    text-align: center;
    /* Center the content within the background section */
    color: black;
    /* Set text color to be visible on the background */

}

.contactBackground::before {
    width: 100%;
    height: 100%;
    content: "";
    /* background-image: url(/src/images/contactus.jpg); */
    /* Replace with your image file path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px);
    /* Apply blur effect to the background image only */
    z-index: -1;
    /* Send the background image behind the content */
}
.contactBackground h1{
    text-align: center;
}
.contactCol svg{
    width: 100px;
    height: 100px;
    color: black;
}
.contactCol h2{
    color: black;
    font-size: 50px;
    text-decoration-line: none;
}
.contactCol p{
    color:white;
    font-size: 20px;
    text-align: center;
}
.contactCol a{
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.messageCol{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    height:560px;
}
.messageCol h2{
    color: white;
    font-size: 50px;
    text-decoration-line: none;
}   
.messageCol p{
    color:white;
    font-size: 20px;
    text-align: center;
}

.formCol h2{
    color: black;
    font-size: 50px;
    text-decoration-line: none;
}
.formCol td{
    color: black;
    font-size: 20px;
    text-align: center;
}

.formCol tr textarea{
    width: 100%;
    height: 100px;
}