body {
    font-family: Arial, sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

p {
    text-align: justify;
}

#contentHeader{
    font-family: 'Brush Script MT', cursive;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.back-to-top:hover {
    background-color: #0056b3;
}

.contentBackground {
    background-size: 100%;
}

.background-section {
    position: relative;
    /* Ensure the parent container is positioned */
    padding: 40px;
    /* Add padding to space out content from the background */
    text-align: center;
    /* Center the content within the background section */
    color: black;
    /* Set text color to be visible on the background */

}

.background-section::before {
    width: 100%;
    height: 100%;
    content: "";
    /* Replace with your image file path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px);
    /* Apply blur effect to the background image only */
    z-index: -1;
    /* Send the background image behind the content */
}

.festivalRow {
    display: flex;
    height: 100%;
    align-items: center;
}

.festivalColumn {
    flex-basis: 50%;
}

.festivalColumn h1 {
    color: #fff;
    font-size: 70px;
}

.festivalColumn h2 {
    color: #fff;
    font-size: 40px;
}

.festivalColumn h3 {
    color: #fff;
}

.festivalColumn button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: skyblue;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.festivalColumn p {
    background-color: #000;
    color: white;
    font-size: 14px;
    display: none;
}

.festival {
    width: 180px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.festival:hover {
    transform: translateY(-10px);
}

.chinese {
    background-image: url(/src/images/chineseTopImage.jpeg);
}

.indian {
    background-image: url(/src/images/indianTopImage.jpg);
}

.malay {
    background-image: url(/src/images/malayTopImage.jpeg);
}

.text-center h1 {
    text-decoration-line: underline;
    font-size: 100px;
    color: skyblue;
}

/* #Tdgame {
    background-image: url(/src/images/background_game2.jpg);
    background-size: 100%;
} */

section h2 {
    color: darkcyan;
    text-decoration-line: underline;
    font-size: 60px;
}

section p {
    font-size: 18px;
}

.target {
    /* display: flex; */
    transition: transform 0.1s;
    animation: fadeIn 3s;
    /* visibility: hidden; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.target.show {
    visibility: visible;
    /* display: flex; */
    transform: translateX(0);
}